.modal {
    height: 100vh;

    @media (max-width: 576.8px) {
        height: 65vh;
    }
}
.modal-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-visible-content {
    flex: auto;
}
.modal-wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    max-width: 700px;
    max-height: 300px;
    padding: 40px 30px;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
        @media(max-width: 480px) {
            height: 400px;
        }
    }
}

.open-modal-btn {
    background: #fff;
    padding: 18px 25px;
    border-radius: 20px;
    font-weight: 500;
    border: 0;
    outline: none;
    font-size: 22px;
    cursor: pointer;
    line-height: 23px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;

    &:hover {
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-1px);
    }

    &:active {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        transform: translateY(0);
    }
}

.modal-backdrop {
    transition: visibility .3s ease-out, opacity .3s ease-out;
    background-color: rgba(0 1 25 / 70%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.modal-hidden-content {
    width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 30px 16px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.modal-widow {
    transition: transform .5s ease-out, visibility .5s linear, opacity .5s linear;
    transform: scale(0);
    box-shadow: 0 4px 25px rgb(0 0 0 / 25%);
    background-color: #fff;
    border-radius: 10px;
    max-width: 540px;
    width: 100%;
    padding: 35px 30px 30px 30px;
    flex-shrink: 0;
    flex-grow: 0;
    opacity: 0;
    overflow: visible;
    position: relative;
    z-index: 700;

    @media (max-width: 480px) {
        padding: 15px;
    }

    
}
.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0.3;
    cursor: pointer;

    svg {
        display: block;
        height: 24px;
        width: 24px;
    }

    @media(max-width: 480px) {
        background-color: #fff;
        border-radius: 100%;
        height: 24px;
        width: 24px;
        opacity: 1;   
        right: 25px;
        top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 20px;
            width: 20px;
        }
    }

    &:hover {
        opacity: 1;
    }
}
.show {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;

    .modal-widow {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
}